@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

body{
    background-color: rgb(25, 25, 25);
    font-family: 'Comic Neue', cursive;
}

.logo{
    display: flex;
    justify-content: center;
}

.linkcon{
    display: flex;
    justify-content: center;
}

#link{
    color: white;
    margin-right: 20px;
    margin-top: 10px;
    text-decoration: none;
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    text-align: center;
    color: white;
    font-size: 3em;
    text-decoration: underline;
}