body{
    margin: 0;
    background-color: rgb(25, 25, 25);
    font-family: 'Comic Neue', cursive;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb {
    background: #f7971d;
    border-radius: 10px;
}

.logo{
    display: flex;
    justify-content: center;
}


.linkcon{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#link{
    color: white;
    text-decoration: none;
    margin-right: 2em;
    font-size: 2em;
}

.desc{
    display: flex;
    justify-content: center;
    font-size: 3em;
    color: white;
    margin-top: 4em;
    text-align: center;
}

.photocon{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.image{
    width: 20%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
}


a.home{
    display: flex;
    justify-content: left;
    color: white;
    text-decoration: none;
}

.title{
    text-align: center;
    color: white;
    font-size: 3em;
}

a.download{
    display: flex;
    justify-content: center;
    color: #f7971d;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    margin-bottom: 2em;
}



.videocon{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.video{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2%;
}